* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

main{
    background-color: #0496c7;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #fdde55;
    display: flex;
    justify-content: space-between;
}

header figure{
    display: flex;
    align-items: center;
}

header img{
    width: 45px;
}

header figcaption {
    font-weight: bolder;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    border-left: 3px solid white;
    padding: 10px;
}

nav li:hover {
    background-color: #f7e48c;
    cursor: default;
}

/*============================= main ======================= */
h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    color: white;
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: 3em;
}

#board {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 70% 3fr;
    grid-template-rows: auto auto;
}
 
#interact {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#console{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

/*============================= table ======================= */
table.playboard {
    border-collapse: collapse;
    background-color: #04bade;
}

table.playboard td {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border: white solid 2px;
    width: 60px;
    height: 60px;
}

table.playboard td:hover {
    background-color: #55e2e9;
}

/*============================= fire button ======================= */
#fire{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    height: 50px;
    width: 200px;
    justify-self: center;
    font-size: 2em;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    margin: 15px 0px;
    border-radius: 20px;
    background-color: #E72929;
    border-top: white solid 2px;
    border-left: white solid 2px;
    color: white;
    cursor: default;
}

#fire:active {
    box-shadow: 5px 5px #E72929;
    border-right: white;
    border-bottom: white;
}

/*============================= quit and restart ======================= */

#interact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#interact .quit, #interact .restart {
    margin: 10px;
    background-color: gray;
    border: black solid 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: default;
}

#interact .quit:active, #interact .restart:active {
    box-shadow: 5px 5px gray;
}

#console {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logfile {
    border-collapse: collapse;
    border: 3px solid black;
    margin: 10px;
    margin-bottom: 0px;
    width: 90%;
    text-align: left;
    color: white;
}

.logfile h2 {
    background-color: #0b6e4f;
    padding-left: 5px;
    border-bottom: black solid 3px;
}

.logfile ul {
    background-color: #0b6e4f;
    opacity: 0.8;
    list-style-position: inside;
}

.logfile ul li{
    margin-left: 5px;
}

.logfile ul li p{
    display: inline;
    margin-left: -5px;
}
